.wapper {
  padding: 100px;
}
.btnWap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.startGuide {
  color: #3e63dd;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}
#addRole {
  background: #3e63dd;
  color: #fff;
  padding: 5px 15px;
  border-radius: 30px;
  font-size: 14px;
}
#content {
  display: none;
  width: 100%;
  height: 200px;
  background-color: #3e63dd;
  border-radius: 5px;
  margin-top: 10px;
  padding: 20px;
}
#content .header {
  text-align: right;
}
.btn {
  background: #fff;
  color: #3e63dd;
  padding: 5px 15px;
  border-radius: 30px;
  font-size: 14px;
}

#input {
  text-align: center;
  color: #fff;
  font-size: 18px;
  display: none;
  padding: 10px 0;
}
#input input {
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
}
