/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  --vp-home-hero-image-background-image: -webkit-linear-gradient(145deg, #bd34fe 30%, #47caff 50%);

  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(100px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(150px);
  }
}
